/* Write your CSS here */

.list-item {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #b5b7c4;
  height: 60px;
  width: 180px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
}

.heading-and-image {
  display: flex;
  justify-content: space-between;
}

.type-of-doctor {
  color: #171f46;
  font-size: 12px;
  padding-left: 4px;
}

.star-button {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  padding-top: 7px;
  margin-left: 100px;
}

.fav-image {
  height: 15px;
}

.date-time {
  color: #b5b7c4;
  font-size: 10px;
  padding-left: 4px;
}
